@tailwind base;
@tailwind components;
@tailwind utilities;

/* button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
} */

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  font-size: 14px;
}

@layer components {
  .h4 {
    @apply text-xl font-black mb-8;
  }
}
